<br/>

<center>
<h2>Bonjour <%=@user.first_name%><%=@user.last_name%><br/></h2>   
<h2>Editer ton mot de passe :</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <br/>
  <div class="field">
    <%= f.label :'Nouveau MDP' %> <i> <br/>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div><br/>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :current_password %> <i><br/>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
<br/>
  <div class="actions">
    <%= f.submit "Mettre à jour" %>
  </div>
<% end %>

<br/>
<br/>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h2 class="card-title">Supprimer ton compte</h2>
    <p class="card-text">T'es sur de toi ?  <%= button_to "Supprimer", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
      <%= link_to "Retour", :back %>
  </div>
</div>
</center>
