<center>
<h2>Tu as oublié ton mot de passe ?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :'Rentre ton email ci-dessous :' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <br/>
  <div class="actions">
    <input type="submit" class="btn btn-info" value="Demander nouveau mot de passe">
  </div>
<% end %>

<%= render "devise/shared/links" %>
</center>
