<div class="card">
  <div class="card-header">
    <div class="font-weight-bold text-center"><h1>EVENEMENT : <%=@event.title%></h1></div>
  </div>

  <div class="card-body">
    <h5><strong>Date de l'événement : </strong><%= @event.start_date %><br/>
    <strong>Description : </strong><%= @event.description %><br/>
    <strong>Créateur : </strong><%= @event.admin.first_name %><br/>
    <strong>Prix en € : </strong> <%= @event.price %><br/>
    <strong>Durée en min : </strong><%=  @event.duration %><br/><h5>
    <br/>
    <strong>Contacter le créateur : </strong><%= @event.admin.email %><br/>
  </div>

  <center>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h2 class="card-title">Inscription à l'event</h2>
    <a class="btn btn-secondary" <%= link_to "M'inscrire", new_charge_path %></a>
  </div>
  </div>
  </center>
  <br/>

</div>